<div th:replace="fragments/cabecalho :: cabecalho"></div>
<div class="container-fluid">
    <form class="form-group" th:action="@{/etiqueta-cadastrar.html}" method="post" th:object="${etiqueta}">
        <div class="form-group">
            <label>Título:</label>
            <input class="form-control" type="text" th:field="*{titulo}">
            <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
        </div>
        <div class="form-group">
            <label>Descrição: </label>
            <textarea class="form-control" th:field="*{descricao}"></textarea>
            <strong th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></strong>
        </div>
        <div class="form-group">
            <label>Url: </label>
            <input class="form-control" type="text" th:field="*{url}">
            <strong th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></strong>
        </div>
      
        <input class=" btn btn-success" type="submit"/>
        <input class=" btn btn-danger" type="reset"/>
    </form>
</div>
<div th:replace="fragments/rodape :: rodape"></div>
