<div th:replace="fragments/cabecalho :: cabecalho"></div>
<div class="container-fluid">
    <center><h5>Etiquetar item <span th:text="${item.titulo}"></span>.
    </h5></center>
    <br><br>
    <div class="row">
        <div class = "col"></div>
        <div class="col">
            <form th:action="@{/item-etiquetar/{id}(id = ${item.id})}" method="post" th:object="${item}">
                <label>Etiquetas:</label>
                <select class="form-control" th:field="*{etiquetas}" name="etiquetas" multiple="multiple">
                    <option  th:each="etiqueta: ${etiquetas}"
                             th:value="${etiqueta.id}"
                             th:text="${etiqueta.titulo}">

                    </option>
                </select>
                <br/>

                <input class="btn btn-success" type="submit"/>
                <a class="btn btn-danger" th:href="@{/item-deletar-etiqueta/{id} (id= ${item.id})}">Deletar Etiqueta</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

</div>
<div th:replace="fragments/rodape :: rodape"></div>