<div th:replace="fragments/cabecalho :: cabecalho"></div>

<a type="button" href="/item-cadastrar.html" class="btn btn-success"> Novo Item</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Título</th>
        <th colspan="2">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${itens}" th:object="${item}">
        <td th:text="*{titulo}"></td>
        <td><a th:href="@{./item-editar/{id}(id=*{id})}" class="btn btn-secondary">Editar</a></td>
        <td><a th:href="@{./item-deletar/{id}(id=*{id})}" class="btn btn-danger">Excluir</a></td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/rodape :: rodape"></div>