<div th:replace="fragments/cabecalho :: cabecalho"></div>
<div class="container-fluid">
    <center><h5>Anotar item <span th:text="${item.titulo}"></span>.
    </h5></center>
    <br><br>
    <div class="row">
        <div class = "col"></div>
        <div class="col">
            <form th:action="@{/item-anotar/{id}(id = ${item.id})}" method="post" th:object="${anotacao}">
                <label>Título:</label>
                <input type="text" th:field="*{titulo}" class="form-control">
                <label>Descrição:</label>
                <input type="text" th:field="*{descricao}" class="form-control">
                <label>Url:</label>
                <input type="text" th:field="*{url}" class="form-control">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{dataInclusao}">
                <br/>

                <input class="btn btn-success" type="submit"/>
                <input class="btn btn-danger" type="reset"/>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

</div>
<div th:replace="fragments/rodape :: rodape"></div>