<div th:replace="fragments/cabecalho :: cabecalho"></div>
<div class="container-fluid">
    <center><h5>Etiquetar vínculo entre <span th:text="${vinculo.itemOrigem.titulo}"></span> e <span th:text="${vinculo.itemDestino.titulo}"></span>.
    </h5></center>
    <br><br>
    <div class="row">
        <div class = "col"></div>
        <div class="col">
            <form th:action="@{/vinculo-etiquetar/{id}(id = ${vinculo.id})}" method="post" th:object="${vinculo}">
                <label>Etiquetas:</label>
                <select class="form-control" th:field="*{etiquetas}" name="etiquetas" multiple="multiple">
                    <option  th:each="etiqueta: ${etiquetas}"
                             th:value="${etiqueta.id}"
                             th:text="${etiqueta.titulo}">

                    </option>
                </select>
                <br/>

                <input class="btn btn-success" type="submit"/>
                <input class="btn btn-danger" type="reset"/>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>

</div>
<div th:replace="fragments/rodape :: rodape"></div>